[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/benchmark"]
	path = extern/benchmark
	url = https://github.com/google/benchmark.git
[submodule "extern/amalgamate"]
	path = extern/amalgamate
	url = https://github.com/BalashovAD/amalgamate.git
